# Assignment 9

## Try to submit as an HTML file

<font size = "5">
Print your Emory ID below

In [11]:
# Write your answer here:
2483339

2483339

<font size = "5">

Import the "pandas", "sqlalchemy" and "URL" libraries <br>
(See Lecture 19)

In [12]:
# Write your answer here:
import pandas as pd
import sqlalchemy as sa
from   sqlalchemy.engine import URL

<font size = "5">

Establish a connection to the SQL server and database ```formula1``` <br>
from Python as in Lecture 18 using <br>
```URL()``` and ```create_engine()```

In [13]:
# Write your own code
formula1 = URL.create(
    "postgresql",
    host = 'localhost',
    database = 'postgres',
    username = 'postgres',
    password  = '12345')

con = sa.create_engine(formula1)

<font size = "5">

In this homework, you will repeat the exercises in <br>
Assignment 8, this time accessing SQL indirectly <br>
from Python

<font size = "3">

- For (a)-(e) read the section <br>
on "Escape Characters" carefully and how to write <br>
strings in multiple lines
- Remember that there is a special syntax for <br>
column names that have capital letters


<font size = "5">

(a) Import "lap_times.csv" and "drivers.csv"  

<font size = "3">

- Import the data using ```pd.read_csv()```
- Upload to the server using  ```.to_sql()```
- Upload the CSV files to the server, even if you already have the tables

In [14]:
# Write your own code

lap = pd.read_csv("data_raw/lap_times.csv")
drivers = pd.read_csv("data_raw/drivers.csv")

lap.to_sql('lap_sql',
               con = con,
               if_exists='replace')

drivers.to_sql('drivers_sql',
               con = con,
               if_exists='replace')

857

<font size = "5">

(b) Subset and sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Use ```WHERE``` to get a subset of "drivers" with 
```nationality = 'American'```
- Chain this with ```ORDER BY surname ASC``` to sort in <br>
ascending order

HINT: Use single quotes inside a string as in Lecture 20

In [15]:
# Write your own code

driver_us = pd.read_sql("SELECT * \
                        FROM drivers_sql \
                        WHERE nationality = 'American' \
                        ORDER BY surname ASC ;",con)

<font size = "5">

(c) Count unique values

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Count the number of unique "driverId" using ```COUNT(DISTINCT ...)``` <br>
from the dataset "drivers"

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [16]:
# Write your own code
driver_unique = pd.read_sql("SELECT COUNT(DISTINCT \"driverId\") as unique_id \
                            FROM drivers_sql; ", con)

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Obtain the average of "milliseconds" by "driverId" using ```GROUP BY```
- User ```ORDER BY ``` to sort on the average of milliseconds

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [17]:
# Write your own code
driver_avg = pd.read_sql("SELECT \"driverId\", AVG(milliseconds) as milli_avg \
                          FROM lap_sql \
                          GROUP BY \"driverId\" \
                          ORDER BY AVG(milliseconds); ", con)

<font size = "5">

(e) Merge two tables

<font size = "3">

- In this exercise use the function ```.read_sql()```
- Merge the tables "lap_times" (primary) and "drivers" (secondary) <br>
on "driverId" using ```LEFT JOIN``` on "driverId".

HINT: Include \\"driverId\\" in double quotations with an <br>
escape character (see Lecture 20 for details) since <br>
it has a mix of upper and lower case letters

In [18]:
# Write your own code
merge = pd.read_sql("SELECT * \
                     FROM lap_times \
                     LEFT JOIN drivers \
                     ON lap_times.\"driverId\"  = drivers.\"driver_id\";", con)

ProgrammingError: (psycopg2.errors.UndefinedColumn) column lap_times.driverId does not exist
LINE 1: ...        LEFT JOIN drivers                      ON lap_times....
                                                             ^
HINT:  Perhaps you meant to reference the column "lap_times.driverid".

[SQL: SELECT *                      FROM lap_times                      LEFT JOIN drivers                      ON lap_times."driverId"  = drivers."driver_id";]
(Background on this error at: https://sqlalche.me/e/20/f405)